*{
    background-color:  rgba(140, 171, 217, 1);
    padding: 0;
    margin: 0;
}


html{
    height: 100%;
    display: absolute;
    overflow: hidden;
}
body{
    /* overflow-y:hidden; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.date{
   background-color: none;
   width: 100%;
   display: flex;
   justify-content: center;
   margin: 0;
   padding: 0;
   margin-top: 0;

}



.date > h1{
    color: rgba(255, 255, 255, 0.616);
    background-color:rgb(121, 149, 187) ;
    font-family: sans-serif;
    font-weight: lighter;
    padding: 7px 10px;
    border-radius: 30px;
    font-size: 10px;
    display: flex;
    justify-content: center;
}

.bottom{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.top{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    position: fixed;
}

.screen{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

}

.imgcontainer{
    width: 100%;
    height: 70px;
    display: flex;
    margin-top: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}

.image{
    height: 40px;
}


.imgcontainer{
   align-items: center;
}

.imgcontainer > .left{
    /* background-color: red; */
    padding-left: 10px;
}

.imgcontainer > .right{
    /* background-color: red; */
    padding-right: 10px;
}








.textbox> .words{
    display: inline;
    color: black;
    background-color: rgba(108, 225, 49, 1);
    padding: 17px;
    font-size: 0.9rem;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 14px 0px 14px 14px;
}



.read{
    display: flex;
    color: rgb(100, 125, 160);
    font-size: 0.6rem;
    text-align: right;
    background-color: none;
    align-items: flex-end;
    padding: 0px 10px;
    font-family: sans-serif;
    
}


/* .box2d{

    display: inline;
    background-color: lightgreen;

    
} */


.inputarea{
    display: flex;
    position: relative;

    height: 100%;
    background-color:white;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.inputbox{

    height: 40px;
    font-size: 1rem;
    width: 100%;
    background-color: rgb(236, 236, 236);
    border: none;
    padding: 0px 20px;
    border-radius: 20px;
    margin: 10px;
}






.chat{
    margin-top: 100px;
    background-color: red;
    display: flex;
    justify-content: right;
    align-items: right;
    padding-right: 30px;

    
}




.send{
    background-color:  white;
    color: rgba(0, 0, 255, 0);
    text-decoration: none;
    border: none;
    font-size: 16px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.wall{

    display: relative;
    width: 100%;
    height: 80px;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.time {
    background-color: rgba(0, 0, 0, 0);
    margin-top: 9px;
    color: rgba(255, 0, 0, 0);
    font-weight: bold;
    background-image: url(./image/error.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0.2rem;
    margin-left: 5px;
}

.message{

    border-radius: 20px;
    border-top-right-radius: 0px;
    background: lightgreen;
    padding: 10px 20px;
    margin: 10px;
    display: flex;
    justify-content: right;
    max-width: fit-content;


}







